@CHARSET "UTF-8";
/*
 *From: Twitter basecape */
.span12 {
  width: 940px;
}
.span11 {
  width: 860px;
}
.span10 {
  width: 780px;
}
.span9 {
  width: 700px;
}
.span8 {
  width: 620px;
}
.span7 {
  width: 540px;
}
.span6 {
  width: 460px;
}
.span5 {
  width: 380px;
}
.span4 {
  width: 300px;
}
.span3 {
  width: 220px;
}
.span2 {
  width: 140px;
}
.span1 {
  width: 60px;
}
.offset12 {
  margin-left: 980px;
}
.offset11 {
  margin-left: 900px;
}
.offset10 {
  margin-left: 820px;
}
.offset9 {
  margin-left: 740px;
}
.offset8 {
  margin-left: 660px;
}
.offset7 {
  margin-left: 580px;
}
.offset6 {
  margin-left: 500px;
}
.offset5 {
  margin-left: 420px;
}
.offset4 {
  margin-left: 340px;
}
.offset3 {
  margin-left: 260px;
}
.offset2 {
  margin-left: 180px;
}
.offset1 {
  margin-left: 100px;
}


/* */
form {
	padding: 0;
	margin: 0;
	display: inline;
}

button, input, select, textarea { font-family: inherit; font-size: inherit; }

input,select,img,label{ vertical-align:bottom;  }  /*KLUDGE input & img align */

label {
	cursor: pointer;
}

input[type='text'], input[type='password'], textarea {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
}


input.large-field, select.large-field {
	width: 300px;
}

fieldset{ padding:0px 10px 10px 10px;}

/* button */
a.button {
	display: inline-block;
	padding-left: 6px;

	text-decoration: none;
	cursor: pointer;
}
a.button span {
	
	line-height: 27px;
	font-size: 12px;
	font-weight: bold;
	display: block;
	padding:0;
}

a.highlight span{ color:#fff; }

a.button:hover span {
	color: #000;
}

.buttons {
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* Login
------------------------------------------------------------- */
#login input[type="text"],
#login input[type="password"]
{
	margin:5px 0;
	line-height:1.5em; 
}

#login form{ margin-left:30px;}

/* Register
--------------------------------------------------------------------- */
form input[name="captcha"]{ width:100px;}


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/* Google form style
--------------------------------------------------------------------*/

button::-moz-focus-inner,input::-moz-focus-inner { border: 0; }

input[type="email"], input[type="password"], input[type="text"], input[type="url"] {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    
    -moz-box-sizing: border-box;  /* KLUDGE FF box-sizing */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    padding-top: 0;
    padding-bottom: 0;
    
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-radius: 1px 1px 1px 1px;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    height: 29px;
    margin: 0;
    line-height:29px;
    padding-left: 8px;
    height:31px \9;
}
input[type="email"]:hover, input[type="password"]:hover, input[type="text"]:hover, input[type="url"]:hover {
    border-color: #A0A0A0 #B9B9B9 #B9B9B9;
    border-right: 1px solid #B9B9B9;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, input[type="url"]:focus {
    border: 1px solid #4D90FE;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
    outline: medium none;
}
input[type="email"][disabled="disabled"], input[type="password"][disabled="disabled"], input[type="text"][disabled="disabled"], input[type="url"][disabled="disabled"] {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #E5E5E5;
}
input[type="email"][disabled="disabled"]:hover, input[type="password"][disabled="disabled"]:hover, input[type="text"][disabled="disabled"]:hover, input[type="url"][disabled="disabled"]:hover {
    box-shadow: none;
}
input[type="checkbox"], input[type="radio"] {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 1px 1px 1px 1px;
    cursor: pointer;
    width: 20px;
    margin: 0;
    position: relative;
    vertical-align: bottom;
    height: 20px;
  	height:15px \9;
    border:none \9;
    
}
input[type="checkbox"]:active, input[type="radio"]:active {
    background: none repeat scroll 0 0 #EBEBEB;
    border-color: #C6C6C6;
}
input[type="checkbox"]:hover {
    border-color: #C6C6C6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
input[type="radio"] {
    border-radius: 1em 1em 1em 1em;
    height: 15px;
    width: 15px;
}
input[type="checkbox"]:checked, input[type="radio"]:checked {
    background: none repeat scroll 0 0 #FFFFFF;
}
input[type="radio"]:checked:after {
   
    border-radius: 1em 1em 1em 1em;
    content: "";
    display: block;
    height: 7px;
    left: 3px;
    position: relative;
    top: 3px;
    width: 7px;
}
input[type="checkbox"]:checked:after {
    
    display: block;
    left: -5px;
    position: absolute;
    top: -6px;
}
input[type="checkbox"]:focus {
    border-color: #4D90FE;
    outline: medium none;
}

.button {
    background-color: #F8F8F8;
    border: 1px solid #C6C6C6;
    border-radius: 2px 2px 2px 2px;
    cursor: default;
    display: inline-block;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    height: 27px;
	line-height: 27px;
    margin-right: 5px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.highlight{
 	background-color: #E20C3A;
 	border: 1px solid #F5F5F5;
	color: #FFF;
}

.highlight:hover{
	background-color: #F8F8F8;
	border: 1px solid #C6C6C6;
}

.sign-in {
    float: right;
    width: 335px;
}
.signin-box, .accountchooser-box {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #E5E5E5;
    margin: 12px 0 0;
    padding: 20px 25px 15px;
}

* + html .button {
    min-width: 70px;
}
button.button, input.button[type="submit"] {
    height: 29px;
    line-height: 29px;
    margin: 0;
    vertical-align: bottom;
}
* + html button.button, * + html input.button[type="submit"] {
    overflow: visible;
}

.button:active {
    background-color: #F6F6F6;
    background-image: -moz-linear-gradient(center top , #F6F6F6, #F1F1F1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.button:visited {
    color: #666666;
}
.button-submit {
    background-color: #4D90FE;
    background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
    border: 1px solid #3079ED;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.button-submit:hover {

    background-image: -moz-linear-gradient(center top , #4D90FE, #357AE8);
    border: 1px solid #2F5BB7;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.button-submit:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
.button-share {
    background-color: #3D9400;
    background-image: -moz-linear-gradient(center top , #3D9400, #398A00);
    border: 1px solid #29691D;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.button-share:hover {
    background-color: #368200;
    background-image: -moz-linear-gradient(center top , #3D9400, #368200);
    border: 1px solid #2D6200;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.button-share:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
.button-red {
    background-color: #D14836;
    background-image: -moz-linear-gradient(center top , #DD4B39, #D14836);
    border: 1px solid transparent;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}
.button-red:hover {
    background-color: #C53727;
    background-image: -moz-linear-gradient(center top , #DD4B39, #C53727);
    border: 1px solid #B0281A;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.button-red:active {
    background-color: #B0281A;
    background-image: -moz-linear-gradient(center top , #DD4B39, #B0281A);
    border: 1px solid #992A1B;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
.button-white {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DCDCDC;
    color: #666666;
}
.button-white:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C6C6C6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #333333;
}
.button-white:active {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.button-red:visited, .button-share:visited, .button-submit:visited {
    color: #FFFFFF;
}
.button-submit:focus, .button-share:focus, .button-red:focus {
    box-shadow: 0 0 0 1px #FFFFFF inset;
}
.button-share:focus {
    border-color: #29691D;
}
.button-red:focus {
    border-color: #D14836;
}
.button-submit:focus:hover, .button-share:focus:hover, .button-red:focus:hover {
    box-shadow: 0 0 0 1px #FFFFFF inset, 0 1px 1px rgba(0, 0, 0, 0.1);
}
.button img {
    display: inline-block;
    margin: -3px 0 0;
    opacity: 0.55;
    vertical-align: middle;
}
* + html .button img {
    margin: 4px 0 0;
}
.button:hover img {
    opacity: 0.72;
}
.button:active img {
    opacity: 1;
}
.errormsg {
    color: #DD4B39;
    display: block;
    line-height: 17px;
    margin: 0.5em 0 0;
}
.training-msg {
    background: none repeat scroll 0 0 #F9EDBE;
    padding: 0.5em 8px;
}
.training-msg p {
    margin: 0 0 0.5em;
}
input.form-error[type="email"], input.form-error[type="password"], input.form-error[type="text"], input.form-error[type="url"] {
    border: 1px solid #DD4B39;
}
.help-link {
    background: none repeat scroll 0 0 #DD4B39;
    border-radius: 1em 1em 1em 1em;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    padding: 0 5px;
    position: relative;
    text-decoration: none;
    top: 0;
}
.help-link:visited {
    color: #FFFFFF;
}
.help-link:hover {
    color: #FFFFFF;
    opacity: 0.7;
}

.menu-select{
	width: 400px;
}

.menu-input{
	width: 200px;
}


